.css-n21gh5 > :not(style) ~ :not(style), 
.css-1vp53ex > :not(style) ~ :not(style), 
.css-sznhce > :not(style) ~ :not(style), 
.css-1n5zcvb > :not(style) ~ :not(style),
.css-agfc3p > :not(style) ~ :not(style),
.css-h52phn > :not(style) ~ :not(style) {
    margin-top: 0px !important;
}

.css-1xp7ed8, .css-79z5gx {
    background-color: #171923;
}

.css-79z5gx {
    padding: 0;
    padding-inline-end: 0;
}
